.btn-artificer {
    color:$white;
    background-color:$red;
    border-color:$red;
}
.btn-blood-hunter {
    color:$white;
    background-color:$red-dark;
    border-color:$red-dark;
}
.btn-barbarian {
    color:$white;
    background-color:$orange;
    border-color:$orange;
}
.btn-bard {
    color:$white;
    background-color:$purple;
    border-color:$purple;
}
.btn-cleric {
    color:$white;
    background-color:$gray-light;
    border-color:$gray-light;
}
.btn-druid {
    color:$white;
    background-color:$green;
    border-color:$green;
}
.btn-fighter {
    color:$white;
    background-color:$brown;
    border-color:$brown;
}
.btn-monk {
    color:$white;
    background-color:$brown-light;
    border-color:$brown-light;
}
.btn-paladin {
    color:$white;
    background-color:$gold;
    border-color:$gold;
}
.btn-ranger {
    color:$white;
    background-color:$green-dark;
    border-color:$green-dark;
}
.btn-rogue {
    color:$white;
    background-color:$dark;
    border-color:$dark;
}
.btn-sorcerer {
    color:$white;
    background-color:$indigo;
    border-color:$indigo;
}
.btn-wizard {
    color:$white;
    background-color:$blue;
    border-color:$blue;
}
.btn-warlock {
    color:$white;
    background-color:$blue;
    border-color:$blue;
}