// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$black: #000000;
$dark: #262626;
$gray-light: #b3b3b3;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$purple-dark: #3c2e4a;
$pink: #f66d9b;
$red: #e3342f;
$red-dark: #6e2523;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$green-dark: #296e46;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gold: #e3b73d;
$brown: #6e5d4c;
$brown-light: #baa88f;

